@import "tailwindcss";

@theme {
    --color-primary-green: #2C5530;
    --color-sage-green: #4A7C59;
    --color-sand: #E8DCC4;
    --color-soft-white: #FAF9F6;
    --color-terracotta: #D96C06;

    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
        background-color: var(--color-soft-white);
        color: #333333;
        font-family: var(--font-sans);
    }
}